[submodule "mlir-aie"]
	path = mlir-aie
	url = https://github.com/ueqri/mlir-aie.git
[submodule "npu-pnr"]
	path = npu-pnr
	url = https://github.com/ueqri/npu-pnr.git
[submodule "npu-benchmark-model-training"]
	path = npu-benchmark-model-training
	url = https://github.com/RonZ13/npu-benchmark-model-training.git
